
<br /><br />
<div class="ui sixteen column grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <div class="ui huge header">FlashTxts!</div>
      <p></p>
      <div class="ui medium header">Flash cards via text!</div>
      <p></p>
      <div class="ui massive horizontal divided list">
        <div class="item">
          <%= image_tag 'israel.png', class: 'ui avatar image' %>
          <div class="content">
            <div class="header">Israel</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'Christabelle.jpg', class: 'ui avatar image' %>
          <div class="content">
            <div class="header">Christabelle</div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'gus.png', class: 'ui avatar image' %>
          <div class="content">
            <div class="header">Gus</div>
          </div>
        </div>
      </div>
    </div>
    <div
       class="fb-like"
       data-share="true"
       data-width="450"
       data-show-faces="true">
    </div>
  </div>

  <div class="four column"></div>
</div>

